<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="专业查询列车班次/晚点信息服务。">
	<meta name="keywords" content="火车晚点，列车晚点查询，实时查询">
    <title>{% block title %}
    列车晚点查询
    {% endblock %}	</title>
</head>
<body>
{% block navi %}
    <div id="navi_bar">
    <p>Here is the navi bar!</p>
    </div>
{% endblock %}

{% block content %}
    <p>Here is the content!</p>
{% endblock %}


</body>
</html>