{% extends "base.html" %}

{% block title %}
火车晚点查询--请输入列车班次...
{% endblock %}

{% block content %}

<div style="background:url(/static/media/images/searchico.gif) no-repeat top left;height: 200px;">
<form id="trains_form" >
    {% csrf_token %}
<label>请输入车次：
<input type="text" name="checiIn"   /></label>
<button type="button" value="提交" onclick="DoSubmit();">Click Me!</button>
</form>
    <script src="/static/media/js/jquery-3.1.1.min.js"></script>
    <script>
        function DoSubmit(){
            var input_dict = {};
            $('input').each(function(){
                var v = $(this).val();
                var n = $(this).attr('name');
                input_dict[n] = v;
            });
            if( input_dict["checiIn"]=="")
                alert("请输入查询车次！");
            else
            $.ajax({
                url: '/trains/',
                type: 'POST',
                data: input_dict,
                dataType:'json',
                success: function (result) {
                    var datass = result;
                    alert(datass.trains);
                    if (result.status) {
{#                        location.href = '/2048';#}
                        console.log(location.href);
                    }
                    else {
                        $.each(result.message, function (k,v) {
                            var tag = document.createElement('span');
                            tag.className = 'error-msg';
                            tag.innerText = v[0].message;
                            $('input[name="' + k + '"]').siblings('span').remove();
                            $('input[name="' + k + '"]').after(tag);
                        })
                    }
                }
            })
        }
    </script>
</div>




{% endblock %}